input {
    width: 20%;
    height: 25px;
    border: solid palegreen 1px;
}
.inputContainer {
    text-align: center;
    display: block;
    margin-top: 10%;
}
.topicsContainer {
    margin: 2%;
}
#newButton {
    margin: 5px;
}
h2 {
    font-family: 'Knewave', cursive;
    color: pink;
}
.btn-outline-primary {
    border-color: pink;
    color: dimgray;
}
.btn-outline-primary:hover {
    background-color: pink;
    border-color:  peachpuff;
}
img {
    height: 300px;
    width: 400px;
}
img:hover {
    cursor: pointer;
}
.gifContainer {
    margin: 2% 5%;
}
.image {
    float: left;
    margin: .5%;
    position: relative;
}
span {
    position: absolute;
    background-color: gray;
    color: whitesmoke;
}
.fa-arrow-alt-circle-down {
    position: absolute;
    size: 7x;
    bottom: 8px;
    left: 8px;
    color: pink;
}
a:hover{
    text-decoration: none;
    color: palegreen;
}
.form-control, #exampleFormControlSelect1 {
    width: 72px;
    height: 25px;
    display: inline-block;
    border-color: lightblue;
}
#rating {
    text-align: center; 
    position: absolute;
    size: 7ex;
    bottom: 8px;
    right: 8px;
    color: lightblue;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 3px;
}
#submit {
    height: 25px;
    padding: 0px 10px;
}
@media only screen and (max-width: 1366px) {

    .gifContainer {
        margin: 2% 4%;
    }
}
@media only screen and (max-width: 1280px) {

    .gifContainer {
        margin: 2% 1.5%;
    }
}
@media only screen and (max-width: 1024px) {

    .gifContainer {
        margin: 2% 10%;
    }
}
@media only screen and (max-width: 768px) {
    img {
        height: 200px;
        width: 300px;
    }
    .gifContainer {
        margin: 2% 10%;
    }
}
@media only screen and (max-width: 736px) {
    img {
        height: 200px;
        width: 300px;
    }
    .gifContainer {
        margin: 2% 8%;
    }
}
@media only screen and (max-width: 667px) {
    img {
        height: 200px;
        width: 300px;
    }
    .gifContainer {
        margin: 2% 4%;
    }
}
@media only screen and (max-width: 414px) {
    img {
        height: 300px;
        width: 400px;
    }
    .gifContainer {
        margin: 2% 1.5%;
    }
}
@media only screen and (max-width: 375px) { 
    img {
        height: 250px;
        width: 350px;
    }
    .gifContainer {
        margin: 2% 3%;
    }
}